/** @format */

header {
	height: 100px;
	position: absolute;
	width: 100%;
	top: 0px;
	.inner-header {
		position: relative;
		z-index: 10;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo a {
			font-weight: 700;
			font-size: 3rem;
			text-decoration: none;
			color: #000;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 480px;
			font-family: Cormorant;
			font-style: italic;
		}
		.menu {
			button {
				border: none;
				outline: none;
				cursor: pointer;
				font-size: 0.8rem;
				mix-blend-mode: difference;
				background-color: #f23801;
				color: #fff;
				height: 133px;
				width: 133px;
				top: 0;
				right: 0;
				-webkit-transition: background-color 0.3s ease;
				-o-transition: background-color 0.3s ease;
				transition: background-color 0.3s ease;
				border-radius: 0 100% 0 100%/0 0 100% 100%;
			}
		}
	}
	.hamburger-menu {
		display: none;
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		position: fixed;
		height: 100%;
		width: 100%;
		.menu-secondary-background-color {
			background: #000;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: fixed;
			height: 100%;
			width: 100%;
			z-index: -1;
		}
		.menu-layer {
			position: relative;
			background: #fff;
			height: 100%;
			overflow: hidden;
			.menu-city-background {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				height: 100%;
				width: 100%;
				opacity: 0;
				background-size: cover;
				background-repeat: no-repeat;
				animation-name: backgroundEffect;
				animation-duration: 30s;
				animation-iteration-count: infinite;
			}
			.wrapper {
				position: relative;
				.menu-links {
					display: flex;
					justify-content: space-between;
					align-items: center;
					position: relative;
					top: 200px;
					nav {
						display: block;
						ul {
							margin: 0;
							padding: 0;
							li {
								list-style: none;
								font-size: 6rem;
								font-weight: 700;
								cursor: pointer;
								height: 65px;
								overflow: hidden;
								position: relative;
								width: 700px;
								text-align: center;

								a {
									position: absolute;
									color: #000;
									text-decoration: none;
									font-family: Cormorant, serif;
									font-weight: 700;
									font-size: 32px;
									&:hover {
										color: #000;
									}
								}
							}
						}
					}
					.info {
						color: #fff;
						width: 300px;
						h3 {
							font-size: 1.2rem;
							margin: 8px auto;
							color: #000;
						}
						p {
							margin: 0 auto;
							font-size: 0.8rem;
							color: #000;
							line-height: 23px;
						}
					}
				}
				.locations {
					position: absolute;
					bottom: -80px;
					color: #fff;
					margin-top: 16px;
					font-size: 0.8rem;
					font-weight: 600;
					span {
						cursor: pointer;
						&:first-child {
							margin-left: 64px;
						}
						font-weight: 400;
						margin: 0 32px;
						transition: 0.3s ease-in-out;
						&:hover {
							color: #fff;
							background: #000;
							padding: 8px 24px;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}

@keyframes backgroundEffect {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 40% 10%;
	}
	50% {
		background-position: 0 10%;
	}
	75% {
		background-position: 10% 40%;
	}
	100% {
		background-position: 0% 0%;
	}
}
